@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background:linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.553)) ,url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

body{
    /* background-color: #436B3F; */
    background-color: #1f1f1f;
}